@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

li, a, button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

}

button {
    padding: 9px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: 2px solid black;
}

main {
    min-height: calc(100vh - 104px - 75px);
}

footer {
    margin-top: 10px;
    padding: 10px 0;
}

footer .copyright {
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
/* CLASSES */

.logo {
    cursor: pointer;
    scale: 80%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease-in-out 0s;
}

.nav-links li a:hover{
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle-comingsoon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.full-page-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100vw;
    height: 720px;
    text-align: center;
}

.full-page-banner h1 {
    font-weight: 600;
    position: absolute;
    background-color: transparent;
    color: white;
    top: 11%;
    left: 0;
    right: 0;
    margin: auto;
}

.full-page-banner p {
    font-weight: 300;
    position: absolute;
    background-color: transparent;
    color: white;
    top: 18%;
    left: 0;
    right: 0;
    margin: auto;
}

.big-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100vw;
    height: 720px;
    text-align: center;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}

.small-banner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100vw;
    height: 200px;
    text-align: center;

}

.big-centre-text {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 3.5em;
}

.medium-centre-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 2.5em;
}

.small-centre-text {
    color: white;
    background-color: transparent;
    font-size: 0.4em;
    font-weight: 300;
    position: relative;
    top: 5px;
}

.login-page-area {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}

.full-three-column {
    float: left;
    width: 33%;
    padding: 15px;
    margin: 2px;
    position: relative;
    top: 20px;
    text-align: center;
    border: 5px solid black;
    height: 700px;
    color: black;
    border-radius: 15px;
}

.full-three-column img {
    position: relative;
    top: 150px;
    scale: 200%;
}

.full-three-column button {
    position: absolute;
    top: 510px;
    left: 80px;
    right: 80px;
}

.full-three-column a {
    position: absolute;
    top: 580px;
    left: 50px;
    right: 50px;
    text-decoration: underline;
    text-decoration-line: 2px;
}

.full-three-column h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: transparent;
}

.full-two-column {
    float: left;
    width: 49.5%;
    padding: 20px;
    margin: 2px;
    position: relative;
    top: 20px;
    text-align: center;
    height: 300px;
    color: black;
}

.full-two-column h2 {
    float: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.7em;
}

.full-two-column p {
    padding-top: 10px;
    float: left;
    text-align: left;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1.3em;
}

.full-two-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 5%;
}

.small-three-column {
    float: left;
    width: 33%;
    padding: 20px;
    margin: 2px;
    position: relative;
    top: 60px;
    text-align: center;
    height: 500px;
    color: black;
    border: 5px solid black;
    border-radius: 20px;
}

.big-three-column {
    float: left;
    width: 33%;
    padding: 20px;
    margin: 2px;
    position: relative;
    top: 20px;
    text-align: center;
    height: 600px;
    color: black;
    border: 5px solid black;
    border-radius: 20px;
}

.full-three-row:after {
    content: "";
    display: table;
    clear: both;
}

.full-three-row {
    position: absolute;
    top: 300px;
    width: 100vw;
}

.full-two-row {
    position: absolute;
    top: 340px;
    width: 70vw;
    left: 0;
    right: 0;
    margin: auto;
}

.full-two-row:after {
    content: "";
    display: table;
    clear: both;
}

.full-two-row-bottom {
    position: absolute;
    top: 660px;
    width: 70vw;
    left: 0;
    right: 0;
    margin: auto;
}

.medium-three-row {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
}

.medium-three-row:after {
    content: "";
    display: table;
    clear: both;
}

.medium-three-row h2  {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.small-three-column img {
    scale: 40%;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
}

.big-three-column img{
    scale: 60%;
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    margin: auto;
}

.custom-form {
    position: absolute;
    justify-content: center;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    opacity: 100%;
}

.custom-form div {
    padding: 15px;
}


#login-submit-button {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 150px;
    position: relative;
    top: 30px;
}

@media screen and (max-width:600px) {
    .full-three-column {
        width: 100%;
    }
}